$flag-strip-height: 7.6923%;
$flag-strip-width: 100%;
$blue-field-width: 40%;
$blue-field-height: 53.8%;
$link-color: rgb(14, 107, 107);
$horizonal-align: 0 auto;

$border-top-styles: 100px solid green;
$border-bottom-styles: 100px solid blue;
$border-left-styles: 100px solid indigo;
$border-right-styles: 100px solid violet;
$dont-show-border: 100px solid transparent;

$tri-bottom-styles: 300px solid green;
$dont-show-border-tri: 300px solid transparent;

$star-row-height: 11.1111%;
$background-image: url('../images/bg-pattern.png');
$header-gradient: linear-gradient(45deg, #1134cf, #1adb54);

.cssp-container {
    margin: 2% 15%;
    padding: 0 5%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1.5rem;
    background: rgb(208, 231, 238);
}

h1, h2, h3, h4, h5 {
    font-family: 'Bellota', cursive; 
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80px;
    color: white;
    background: $header-gradient;
    font-size: 2em;
}

.page-sub-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11000;
    width: 100%;
    height: 4vh;
    background: $header-gradient;
    color: white;
    text-align: center;
    padding: 4px;
    font-size: 1.8em;
}

.page-header * {
    margin-left: 5px;
}

.fixed-example {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    width: 7vw  ;
    height: 7vw;
    border-radius: 50%;
    font-size: 85%;
    color: white;
    background: orange;
}

body {
    font-family: 'Nanum Gothic';
    margin: 0;
    background: $background-image;
}

a {
    color: $link-color; 
    text-decoration: none;
}

ul {
    padding-left: 25px;
    margin-top: 12px;
}

li {
    margin: 5px;
    margin-left: 2px;
    list-style: none;
}

li::before {
    content: '\2666';
    margin-right: 10px;
}

.css-box-model {
    margin: $horizonal-align;
}

code {
    display: block;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid black;
    background: $background-image;

}

.box-model-example {
    padding: 10px;
    border-top: $border-top-styles;
    border-bottom: $border-bottom-styles;
    border-left: $border-left-styles;
    border-right: $border-right-styles;
    margin: 10px;
}

.zero-width-element-example {
    width: 0;
    height: 140px;
    border-top: $border-top-styles;
    border-bottom: $border-bottom-styles;
    border-left: $border-left-styles;
    border-right: $border-right-styles;
    margin: 30px;
}

.zero-height-element-example {
    width: 140px;
    height: 0;
    border-top: $border-top-styles;
    border-bottom: $border-bottom-styles;
    border-left: $border-left-styles;
    border-right: $border-right-styles;
    margin: 30px;
}

.point-content-example {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-bottom: 100px solid blue;
    border-left: 100px solid indigo;
    border-right: 100px solid violet;
    margin: 30px;
  }

.triangle {
    width: 0px;
    height: 0px;
    border-left: $dont-show-border-tri;
    border-right: $dont-show-border-tri;
    border-bottom: $tri-bottom-styles;
}

.indentation {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0 1.5%;
}

.image-block {
    display: block;
}

.image-resp {
    width: 100%;
}

.flag {
    position: relative;
    width: 100%;
    height: 65vh;
    margin: 2% 0;
}
.flag-strip {
    width: $flag-strip-width;
    height: $flag-strip-height;
}

.flag-strip:nth-child(odd) {
    background-color: red;
}

.flag-strip:nth-child(even) {
    background-color: white;
}

.blue-field {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: $blue-field-width;
    height: $blue-field-height;
    background: blue;
}

.star-row {
    display: flex;
    flex-flow: row wrap;
    height: $star-row-height;
}

.star-row:nth-child(odd) {
    justify-content: space-between;
}

.star-row:nth-child(odd) * {
    width: 7%;
}

.star-row:nth-child(even) {
    justify-content: space-around;
}

.star-row:nth-child(even) * {
    width: 7%;
}
